.ico_off_txt{
	margin-right: 15px;
}
a{
	text-decoration: none;

}
.s_offset{
	margin-right: 25px;
}
.social_ico{
	margin-right: 25px;
	size : 35px;
}
#fb:hover{
	color:#3b5998;
}
#ig:hover{
	color:#d62976;
}
#da:hover{
	color:#5ed45a;
}
#sc:hover{
	color:#ff7700;
}
#profil{
	padding-left:35px;
	padding-right:35px;
}
.m-tdl{
	margin-top: 10px;
	margin-bottom: 10px;
}
.m-tl{
	margin-top: 10px;
}
.m-btm{
	margin-bottom: 10px;
}
.p-tdl{
	padding-top: 10px;
	padding-bottom: 10px;
}
.bottom{
	display: block;
	position:relative;
}
.m-btm2{
	margin-bottom: 20px;
}
.g_offset{
	margin:10px;
}